# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Distribution / Packaging
dist/
build/
*.egg-info/
mdm.egg-info/
# Virtual environment
venv/
ENV/
env/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# mypy
.mypy_cache/

# pytest
.cache/

